@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* Pour IE et Edge */
    scrollbar-width: none;     /* Pour Firefox */
  }
}

.header nav{
  display: flex;
  justify-content: center;
  column-gap: 20px;
  padding: 16px;
  font-size: 20px;
  font-weight: bolder;
}





